<p id="notice"><%= notice %></p>

<h1>Alarms</h1>

<table class="table table-striped table-bordered table-hover table-sm " id="myTable">
  <thead>
    <tr>
      <th>Description</th>
      <th>Price</th>
      <th> </th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @alarms.each do |alarm| %>
      <tr>
        <td><%= alarm.description %></td>
        <td><%= alarm.price %></td>
        <td><%= link_to 'Show', alarm %></td>
        <td><%= link_to 'Edit', edit_alarm_path(alarm) %></td>
        <td><%= link_to 'Destroy', alarm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alarm', new_alarm_path %>
