<p id="notice"><%= notice %></p>

<h1>Selleraccounts</h1>

<table class="table table-striped table-bordered table-hover table-sm " id="myTable">
  <thead>
    <tr>
      <th>Seller</th>
      <th>Bank</th>
      <th>Address</th>
      <th>Account</th>
      <th>Swift</th>
      <th>Other</th>
      <th></th>
      <th></th>
      <th></th>


    </tr>
  </thead>

  <tbody>
    <% @selleraccounts.each do |selleraccount| %>
      <tr>
        <td><%= selleraccount.seller %></td>
        <td><%= selleraccount.bank %></td>
        <td><%= selleraccount.address %></td>
        <td><%= selleraccount.account %></td>
        <td><%= selleraccount.swift %></td>
        <td><%= selleraccount.other %></td>
        <td><%= link_to 'Show', selleraccount %></td>
        <td><%= link_to 'Edit', edit_selleraccount_path(selleraccount) %></td>
        <td><%= link_to 'Destroy', selleraccount, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Selleraccount', new_selleraccount_path %>
