<%= form_with(model: deduction, local: true) do |form| %>
  <% if deduction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deduction.errors.count, "error") %> prohibited this deduction from being saved:</h2>

      <ul>
      <% deduction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.collection_select :client_id, Client.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :alarm %>
    <%= form.number_field :alarm, id: :deduction_alarm, step: :any%>
  </div>

  <div class="field">
    <%= form.label :freight %>
    <%= form.text_field :freight, id: :deduction_freight, step: :any %>
  </div>

  <div class="field">
    <%= form.label :overcharge %>
    <%= form.text_field :overcharge, id: :deduction_overcharge, step: :any %>
  </div>

  <div class="field">
    <%= form.label :interest %>
    <%= form.text_field :interest, id: :deduction_interest, step: :any %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
