<p id="notice"><%= notice %></p>

<h1>Deliveries</h1>

<table class="table table-striped table-bordered table-hover table-sm " id="myTable">
  <thead class="table-secondary">
    <tr>
      <th>Orders</th>
      <th>Invnumber</th>
      <th>Invdate</th>
      <th>Totalinvq</th>
      <th>Price</th>
      <th>Totalinvamount</th>
      <th>Port</th>
      <th>Eta</th>
      <th>Bl</th>
      <th>Docs</th>
      <th ></th>
    </tr>
  </thead>

  <tbody>
    <% @deliveries.each do |delivery| %>
      <tr>
        <td><%= delivery.orders %></td>
        <td><%= delivery.invnumber %></td>
        <td><%= delivery.invdate %></td>
        <td><%= delivery.totalinvq %></td>
        <td><%= delivery.price %></td>
        <td><%= delivery.totalinvamount %></td>
        <td><%= delivery.ports.name %></td>
        <td><%= delivery.eta %></td>
        <td><%= delivery.bl %></td>
        <td><%= delivery.docs %></td>
        <td><%= link_to 'Show', delivery %></td>
        <td><%= link_to 'Edit', edit_delivery_path(delivery) %></td>
        <td><%= link_to 'Destroy', delivery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Delivery', new_delivery_path %>
