<p id="notice"><%= notice %></p>

<h1>Paymentterms</h1>

<table class="table table-striped table-bordered table-hover table-sm " id="myTable">
  <thead>
    <tr>
      <th>Clause</th>
      <th>Conditions</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @paymentterms.each do |paymentterm| %>
      <tr>
        <td><%= paymentterm.clause %></td>
        <td><%= paymentterm.conditions %></td>
        <td><%= link_to 'Show', paymentterm %></td>
        <td><%= link_to 'Edit', edit_paymentterm_path(paymentterm) %></td>
        <td><%= link_to 'Destroy', paymentterm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paymentterm', new_paymentterm_path %>
