<p id="notice"><%= notice %></p>

<h1>Quotation Details</h1>

<table class="table">
  <thead class="table">
    <tr>
      <th>Product</th>
      <th>Target price</th>
      <th>Quantity</th>
      <th>Color</th>
      <th>Size</th>
      <th>Ratio</th>
      <th>Delivery date</th>
      <th>Status</th>
      <th>Incoterm</th>
      <th>Final price</th>
      <th>Quotation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotation_details.each do |quotation_detail| %>
      <tr>
        <td><%= quotation_detail.basic_category %></td>
        <td><%= quotation_detail.target_price %></td>
        <td><%= quotation_detail.quantity %></td>
        <td><%= quotation_detail.color %></td>
        <td><%= quotation_detail.size %></td>
        <td><%= quotation_detail.ratio %></td>
        <td><%= quotation_detail.delivery_date %></td>
        <td><%= quotation_detail.status %></td>
        <td><%= quotation_detail.incoterm %></td>
        <td><%= quotation_detail.final_price %></td>
        <td><%= quotation_detail.quotation_id %></td>
        <td> <button type="button" name="button">
        <%= link_to 'Product details', new_product_path %>
        </button> </td>
        <td><%= link_to 'Show', quotation_detail %></td>
        <td><%= link_to 'Edit', edit_quotation_detail_path(quotation_detail) %></td>
        <td><%= link_to 'Destroy', quotation_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quotation Detail', new_quotation_detail_path %>
