<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @quotation_detail.product %>
</p>

<p>
  <strong>Target price:</strong>
  <%= @quotation_detail.target_price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @quotation_detail.quantity %>
</p>

<p>
  <strong>Color:</strong>
  <%= @quotation_detail.color %>
</p>

<p>
  <strong>Size:</strong>
  <%= @quotation_detail.size %>
</p>

<p>
  <strong>Ratio:</strong>
  <%= @quotation_detail.ratio %>
</p>

<p>
  <strong>Delivery date:</strong>
  <%= @quotation_detail.delivery_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @quotation_detail.status %>
</p>

<p>
  <strong>Incoterm:</strong>
  <%= @quotation_detail.incoterm %>
</p>

<p>
  <strong>Final price:</strong>
  <%= @quotation_detail.final_price %>
</p>

<p>
  <strong>Quotation:</strong>
  <%= @quotation_detail.quotation %>
</p>

<%= link_to 'Edit', edit_quotation_detail_path(@quotation_detail) %> |
<%= link_to 'Back', quotation_details_path %>
