<%= form_with(model: quotation, local: true) do |form| %>
  <% if quotation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quotation.errors.count, "error") %> prohibited this quotation from being saved:</h2>

      <ul>
      <% quotation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.label :season_id %>
    <%= form.collection_select :season_id, Season.all, :id, :name   %>
    <%= form.label :supplier_id %>
    <%= form.collection_select :supplier_id, Supplier.all, :id, :name %>
    <%= form.label :handler_id %>
    <%= form.collection_select :handler_id, Handler.all, :id, :name %>
    <%= form.label :seller_id %>
    <%= form.collection_select :seller_id, Seller.all, :id, :name %>
    <%= form.label :client_id %>
    <%= form.collection_select :client_id, Client.all, :id, :name %>
    <%= form.label :paymentterm_id %>
    <%= form.collection_select :paymentterm_id, Paymentterm.all, :id, :clause %>
    <%= form.collection_select :paymentterm_id, Paymentterm.all, :id, :conditions %>
    <%= form.label :status, "Completed?" %>
    <%= form.check_box :status, id: :quotation_status %>
    <%= form.label :pi, "Assign Proforma" %>
    <%= form.text_field :pi, id: :pi %>
    <%= form.label :recap %>
    <%= form.file_field :recap, id: :recap%>
    <%= form.text_field :remote_recap_url, id: :remote_recap%>
    <%= form.label :tecsheets %>
    <%= form.file_field :tecsheets, id: :tecsheets%>
    <%= form.text_field :remote_tecsheets_url, id: :remote_tecsheets%>
<br>
  <%= form.submit 'Save' %>
<% end %>
