<%= form_with(model: quotation, local: true) do |form| %>
  <% if quotation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quotation.errors.count, "error") %> prohibited this quotation from being saved:</h2>

      <ul>
      <% quotation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :season_id %>
    <%= form.collection_select :season_id, Season.all, :id, :name   %>
  </div>

  <div class="field">
    <%= form.label :supplier_id %>
    <%= form.collection_select :supplier_id, Supplier.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :handler_id %>
    <%= form.collection_select :handler_id, Handler.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :seller_id %>
    <%= form.collection_select :seller_id, Seller.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.collection_select :client_id, Client.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :paymentterm_id %>
    <%= form.collection_select :paymentterm_id, Paymentterm.all, :id, :clause %>
    <%= form.collection_select :paymentterm_id, Paymentterm.all, :id, :conditions %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.check_box :status, id: :quotation_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
