<%= form_for @quotation do |f| %>
    <%= f.label :season_id %>
    <%= f.collection_select :season_id, Season.all, :id, :name   %>
    <%= f.label :supplier_id %>
    <%= f.collection_select :supplier_id, Supplier.all, :id, :name %>
    <%= f.label :handler_id %>
    <%= f.collection_select :handler_id, Handler.all, :id, :name %>
    <%= f.label :seller_id %>
    <%= f.collection_select :seller_id, Seller.all, :id, :name %>
    <%= f.label :client_id %>
    <%= f.collection_select :client_id, Client.all, :id, :name %>
    <%= f.label :paymentterm_id %>
    <%= f.collection_select :paymentterm_id, Paymentterm.all, :id, :clause %>
    <%= f.collection_select :paymentterm_id, Paymentterm.all, :id, :conditions %>
    <%= f.label :status %>
    <%= f.check_box :status, id: :quotation_status %>
    <%= f.label :pi, "Proforma" %>
    <%= f.text_field :pi, id: :pi %>
  <h3>Quotation Details</h3>
  <div id='quotationdetails'>
    <div class='links'>
      <button type="button" name="button"><%= link_to_add_association 'add row', f, :quotationdetails%></button>
    </div>
    <%= f.fields_for :quotationdetails do |f| %>
      <%= render 'quotationdetail_fields', :f => f %>
    <% end %>
    </div>
  <%= f.submit 'Save' %>
<% end %>
