<div class='nested-fields'>
<table class="table table-responsive">
<thead>
    <tr>
        <th><%= f.label :quantity, "Quantity" %></th>
        <th><%= f.label :size_id%></th>
        <th><%= f.label :ratio %> </th>
        <td><%= f.hidden_field :_destroy %></td>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><%= f.number_field :quantity, id: :quantity %></td>
        <td><%= f.collection_select :size_id, Size.all, :id, :name %></td>
        <td><%= f.text_field :ratio, id: :variant_ratio %></td>
        <th><%= link_to_remove_association "remove row", f %> </th>
    </tr>
  </tbody>
</table>
</div>
