<p id="notice"><%= notice %></p>

<h1>Quotations</h1>

<table class="table">
  <thead>
    <tr>
      <th>Season</th>
      <th>Supplier</th>
      <th>Handler</th>
      <th>Seller</th>
      <th>Client</th>
      <th>Clause</th>
      <th>Payment termns</th>
      <th>Status</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotations.each do |quotation| %>
      <tr>
        <td><%= quotation.season.name %></td>
        <td><%= quotation.supplier.name %></td>
        <td><%= quotation.handler.name %></td>
        <td><%= quotation.seller.name %></td>
        <td><%= quotation.client.name %></td>
        <td><%= quotation.paymentterm.clause %></td>
        <td><%= quotation.paymentterm.conditions %></td>
        <td><%= quotation.status? ? "CONFIRMED" : "PENDING" %></td>
      <!--  <td><%= link_to 'Show', quotation %></td> -->
          <% if quotation.status? == false%>
          <td> <%= link_to "add new quotation", new_quotationdetail_path %></td>
          <td><%= link_to "Edit quotation", quotationdetails_path %></td>

        <% end %>


        <td><%= link_to 'Edit', edit_quotation_path(quotation) %></td>
        <td><%= link_to 'Destroy', quotation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quotation', new_quotation_path %>
