<p id="notice"><%= notice %></p>
<p>Remember to add products first before adding new Quotationdetails</p>
<%= link_to "Add product",  products_path %>
<hr>

<h2>Quotations</h2>

<table class="table table-responsive table-striped table-bordered table-hover table-sm " id="myTable">
  <thead>
    <tr>
      <th>Quot.N°</th>
      <th>Season</th>
      <th>Supplier</th>
      <th>Handler</th>
      <th>Seller</th>
      <th>Client</th>
      <th>Clause</th>
      <th>Payment termns</th>
      <th>Status</th>
      <th>proforma</th>
      <th>recap</th>
      <th>techsheets</th>
      <th>links</th>
      <th>links</th>
      <th>links</th>
      <th>links</th>


    </tr>
  </thead>

  <tbody>
    <% @quotations.each do |quotation| %>
      <tr>
        <td><%= quotation.id %></td>
        <td><%= quotation.season.name %></td>
        <td><%= quotation.supplier.name %></td>
        <td><%= quotation.handler.name %></td>
        <td><%= quotation.seller.name %></td>
        <td><%= quotation.client.name %></td>
        <td><%= quotation.paymentterm.clause %></td>
        <td><%= quotation.paymentterm.conditions %></td>
        <td><%= quotation.status? ? "Completed" : "Pending" %></td>
        <td><%= quotation.pi %></td>
        <td><%= quotation.recap %></td>
        <td><%= quotation.tecsheets %></td>

<!--        <td><%= link_to 'Show', quotation, class: "btn btn-outline-warning btn-sm" %></td>-->
        <td><%= link_to "add new details", new_quotation_quotationdetail_path(quotation) %></td>
        <td><%= link_to "Edit details", edit_quotation_quotationdetail_path(quotation, :quotationdetails_id)%></td>
        <td><%= link_to 'Edit quotation', edit_quotation_path(quotation)%></td>
        <td><%= link_to 'Delete Quotation', quotation, method: :delete, data: { confirm: 'Are you sure?' }%></td>
      </tr>


    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Quotation', new_quotation_path%>
