<p id="notice"><%= notice %></p>

<p>
  <strong>Season:</strong>
  <%= @quotation.season %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @quotation.supplier %>
</p>

<p>
  <strong>Handler:</strong>
  <%= @quotation.handler %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @quotation.seller %>
</p>

<p>
  <strong>Client:</strong>
  <%= @quotation.client %>
</p>

<p>
  <strong>Paymentterm:</strong>
  <%= @quotation.paymentterm %>
</p>

<p>
  <strong>Status:</strong>
  <%= @quotation.status %>
</p>

<%= link_to 'Edit', edit_quotation_path(@quotation) %> |
<%= link_to 'Back', quotations_path %>
