<p id="notice"><%= notice %></p>

<p>
  <strong>Quotation n:</strong>
  <%= @quotation.quotation_n %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @quotation.supplier %>
</p>

<p>
  <strong>Client:</strong>
  <%= @quotation.client.name %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @quotation.seller.name %>
</p>

<p>
  <strong>Handler:</strong>
  <%= @quotation.handler.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @quotation.status %>
</p>

<%= link_to 'Edit', edit_quotation_path(@quotation) %> |
<%= link_to 'Back', quotations_path %>
