<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table class="table table-responsive table-striped table-bordered table-hover table-sm " id="myTable">
  <thead>
    <tr>
      <th>Quotation N°</th>
      <th>Proforma N°</th>
      <th>Season</th>
      <th>Supplier</th>
      <th>Handler</th>
      <th>Seller</th>
      <th>Client</th>
      <th>Clause</th>
      <th>PaymentTerms</th>
      <th>link</th>
      <th>link</th>
      <th>link</th>
      <th>otro</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% @orders.each do |order| %>
      <% if order.status? %>
      <td><%= order.id %></td>
      <td><%= order.pi %></td>
      <td><%= order.season.name %></td>
      <td><%= order.supplier.name %></td>
      <td><%= order.handler.name %></td>
      <td><%= order.seller.name %></td>
      <td><%= order.client.name %></td>
      <td><%= order.paymentterm.clause %></td>
      <td><%= order.paymentterm.conditions %></td>
      <td><%= link_to 'Show', order %></td>
      <td><%= link_to 'Edit', edit_order_path(order) %></td>
      <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>

<%= link_to 'New Order', new_order_path %>
