<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table class="table table-striped table-bordered table-hover table-sm " id="myTable">
  <thead>
    <tr>
      <th>Quotation N째</th>
      <th>Proforma N째</th>
      <th>Quotationdetail N째</th>
      <th>Variant N째</th>
      <th>Totalorder</th>
      <th>links</th>
      <th>links</th>
      <th>links</th>
      <th>links</th>
      <th>links</th>
      <th>links</th>
      <th>links</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% @orders.each do |order| %>
      <td><%= order.id %></td>
      <td><%= order.pi %></td>
      <td><%= order.season.name %></td>
      <td><%= order.supplier.name %></td>
      <td><%= order.handler.name %></td>
      <td><%= order.seller.name %></td>
      <td><%= order.client.name %></td>
      <td><%= order.paymentterm.clause %></td>
      <td><%= order.paymentterm.conditions %></td>
      <td><%= link_to 'Show', order %></td>
      <td><%= link_to 'Edit', edit_order_path(order) %></td>
      <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
