<%= form_with(model: document, local: true) do |form| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :delivery_id %>
    <%= form.text_field :delivery_id, id: :document_delivery_id %>
  </div>

  <div class="field">
    <%= form.label :docsbymail %>
    <%= form.date_field :docsbymail, id: :document_docsbymail %>
  </div>

  <div class="field">
    <%= form.label :approvaldate %>
    <%= form.date_field :approvaldate, id: :document_approvaldate %>
  </div>

  <div class="field">
    <%= form.label :coriername %>
    <%= form.text_field :coriername, id: :document_coriername %>
  </div>

  <div class="field">
    <%= form.label :couriernumber %>
    <%= form.text_field :couriernumber, id: :document_couriernumber %>
  </div>

  <div class="field">
    <%= form.label :docsreceived %>
    <%= form.date_field :docsreceived, id: :document_docsreceived %>
  </div>

  <div class="field">
    <%= form.label :docssenttoclient %>
    <%= form.date_field :docssenttoclient, id: :document_docssenttoclient %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
