<%= form_with(model: supplieraccount, local: true) do |form| %>
  <% if supplieraccount.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(supplieraccount.errors.count, "error") %> prohibited this supplieraccount from being saved:</h2>

      <ul>
      <% supplieraccount.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :supplier_id %>
    <%= form.collection_select :supplier_id, Supplier.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :bank %>
    <%= form.text_field :bank, id: :supplieraccount_bank %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address, id: :supplieraccount_address %>
  </div>

  <div class="field">
    <%= form.label :account %>
    <%= form.text_field :account, id: :supplieraccount_account %>
  </div>

  <div class="field">
    <%= form.label :swift %>
    <%= form.text_field :swift, id: :supplieraccount_swift %>
  </div>

  <div class="field">
    <%= form.label :other %>
    <%= form.text_field :other, id: :supplieraccount_other %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
