<p id="notice"><%= notice %></p>

<p>
  <strong>Supplier:</strong>
  <%= @supplieraccount.supplier.name %>
</p>

<p>
  <strong>Bank:</strong>
  <%= @supplieraccount.bank %>
</p>

<p>
  <strong>Address:</strong>
  <%= @supplieraccount.address %>
</p>

<p>
  <strong>Account:</strong>
  <%= @supplieraccount.account %>
</p>

<p>
  <strong>Swift:</strong>
  <%= @supplieraccount.swift %>
</p>

<p>
  <strong>Other:</strong>
  <%= @supplieraccount.other %>
</p>

<%= link_to 'Edit', edit_supplieraccount_path(@supplieraccount) %> |
<%= link_to 'Back', supplieraccounts_path %>
