<p id="notice"><%= notice %></p>

<p>
  <strong>Delivery:</strong>
  <%= @commission.delivery %>
</p>

<p>
  <strong>Deduction:</strong>
  <%= @commission.deduction %>
</p>

<p>
  <strong>Comm:</strong>
  <%= @commission.comm %>
</p>

<p>
  <strong>Totalcomm:</strong>
  <%= @commission.totalcomm %>
</p>

<%= link_to 'Edit', edit_commission_path(@commission) %> |
<%= link_to 'Back', commissions_path %>
