<%= form_with(model: variant, local: true) do |form| %>
  <% if variant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(variant.errors.count, "error") %> prohibited this variant from being saved:</h2>

      <ul>
      <% variant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :quotationdetail_id %>
    <%= form.text_field :quotationdetail_id, id: :variant_quotationdetail_id %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, id: :variant_quantity %>
  </div>

  <div class="field">
    <%= form.label :size_id %>
    <%= form.text_field :size_id, id: :variant_size_id %>
  </div>

  <div class="field">
    <%= form.label :ratio %>
    <%= form.number_field :ratio, id: :variant_ratio %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
