<p id="notice"><%= notice %></p>

<p>
  <strong>Quotationdetail:</strong>
  <%= @variant.quotationdetail %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @variant.quantity %>
</p>

<p>
  <strong>Size:</strong>
  <%= @variant.size %>
</p>

<p>
  <strong>Ratio:</strong>
  <%= @variant.ratio %>
</p>

<%= link_to 'Edit', edit_variant_path(@variant) %> |
<%= link_to 'Back', variants_path %>
