<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table class="table table-responsive table-striped table-bordered table-hover table-sm " id="myTable">
  <thead>
    <tr>
      <th>Product N°</th>
      <th>Category</th>
      <th>Photo</th>
      <th>Description</th>
      <th>Finish</th>
      <th>Composition</th>
      <th>Fit</th>
      <th>Construction</th>
      <th>Placket</th>
      <th>Pocket</th>
      <th>Washing</th>
      <th>Other</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.category.name %></td>
        <td><%= image_tag product.photo.thumb, class: "img-fluid" %></td>
        <td><%= product.description %></td>
        <td><%= product.finish %></td>
        <td><%= product.composition %></td>
        <td><%= product.fit %></td>
        <td><%= product.construction %></td>
        <td><%= product.placket %></td>
        <td><%= product.pocket %></td>
        <td><%= product.washing %></td>
        <td><%= product.other %></td>
        <td><%= link_to 'Show', product%></td>
        <td><%= link_to 'Edit', edit_product_path(product)%></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path%>
