
<!-- Sidebar -->
<div id="sidebar-wrapper" class=" navbar bg-dark">
    <ul class="sidebar-nav">
        <div class="card mr-5 bg-dark">
            <div class="card-body">
                <img src="https://pbs.twimg.com/media/BvV1Td2CUAA24nX.jpg" class="rounded-circle" style="height:50px">
            </div>
            <p class="text-center text-white">current_user.email</p>
        </div>
          <div class="accordion">
          <li>
              <a class="btn text-light text-left" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Profiles</a>
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                  <ul class="text-white">
                      <li><%= link_to "Client", clients_path %></li>
                      <li><%= link_to "Handler", handlers_path %></li>
                      <li><%= link_to "Seller", sellers_path %></li>
                      <li><%= link_to "Supplier", suppliers_path %></li>
                  </ul>
              </div>
          </li>
          <li>
              <a class="btn text-light text-left" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Pre-load attributes</a>
              <div id="collapseTwo" class="collapse hide" aria-labelledby="headingTwo" data-parent="#accordion">
                  <ul class="text-white">
                      <li><%= link_to "Add size", sizes_path %></li>
                      <li><%= link_to "Add color", colors_path %></li>
                      <li><%= link_to "Add category", categories_path %></li>
                      <li><%= link_to "Add port", ports_path %></li>
                      <li><%= link_to "Add season", seasons_path %></li>
                      <li><%= link_to "Add payment term", paymentterms_path %></li>
                      <li><%= link_to "Add size", sizes_path %></li>
                      <li><%= link_to "Add alarms", alarms_path %></li>
                  </ul>
              </div>
          </li>
          <li>
              <a class="btn text-light text-left" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Quotations</a>
              <div id="collapseThree" class="collapse hide" aria-labelledby="headingThree" data-parent="#accordion">
                  <ul class="text-white">
                      <li><%= link_to "Product", products_path %></li>
                      <li><%= link_to "Quotation", quotations_path %></li>
                      <li><%= link_to "Quotation details", quotation_quotationdetails_path(:quotation_id) %></li>
                      <li><%= link_to "Variants", variants_path %></li>
                  </ul>
              </div>
          </li>
          <li>
              <a class="btn text-light text-left" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">Orders</a>
              <div id="collapseFour" class="collapse hide" aria-labelledby="headingFour" data-parent="#accordion">
                  <ul class="text-white">
                      <li><%= link_to "Orders", orders_path %></li>
                  </ul>
              </div>
          </li>
          <li>
              <a class="btn text-light text-left" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">Deliveries</a>
              <div id="collapseFive" class="collapse hide" aria-labelledby="headingFive" data-parent="#accordion">
                  <ul class="text-white">
                      <li><%= link_to "Deliveries", deliveries_path %></li>
                      <li><%= link_to "Documents", documents_path %></li>
                  </ul>
              </div>
          </li>
          <li>
              <a class="btn text-light text-left" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">Payments</a>
              <div id="collapseSix" class="collapse hide" aria-labelledby="headingSix" data-parent="#accordion">
                  <ul class="text-white">
                      <li><%= link_to "payments", payments_path %></li>
                      <li><%= link_to "Commissions", commissions_path %></li>
                      <li><%= link_to "Deductions", deductions_path %></li>
                      <li><%= link_to "Office expenses", gastos_path %></li>
                  </ul>
              </div>
          </li>
          <li>
              <a class="btn text-light text-left" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">Reports</a>
              <div id="collapseSeven" class="collapse hide" aria-labelledby="headingSeven" data-parent="#accordion">
                  <ul class="text-white">
                      <li><%= link_to "Commissions Summary", gastos_path %></li>
                      <li><%= link_to "TT received", gastos_path %></li>
                      <li><%= link_to "Office expenses by item", gastos_path %></li>
                  </ul>
              </div>
          </li>
    </ul>
</div>


        <!-- /#sidebar-wrapper -->
    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
