<nav class="navbar fixed-top navbar-expand-lg bg-dark">
  <a class="navbar-brand" href="#">Stgo Office</a>
  <div class="collapse navbar-collapse">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="<%=root_path %>">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="<%=orders_path %>">All Orders</a>
      <a class="nav-item nav-link" href="<%=products_path %>">All Products</a>
      <a class="nav-item nav-link" href="<%=clients_path %>">All Clients</a>
      <a class="nav-item nav-link" href="<%=sellers_path %>">Sellers </a>
      <a class="nav-item nav-link" href="<%=root_path %>">Pending payments</a>
      <a class="nav-item nav-link" href="<%=root_path %>">Summary</a>
      <a class="nav-item nav-link" href="<%=quotations_path %>"> Quotations</a>


      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
  </div>
</nav>
